body {
    background-color: #151320;
    display: grid;
    height: 100vh;

    font-family: 'Poppins'sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    

}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px,
}

h1{
    text-align: center;
}



.frase {
    border: 0px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Play', sans-serif;
}

div,
iframe {
    margin: auto;
}





