


h2 {
    text-align: center;
    color: #fff;
    margin-top: 25px;}

h1{
    text-align: center;
}

h4{
    color: white;
}
 label{
    color: #fff;
 }


.frase {
    border: 0px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Play', sans-serif;
}

div,
iframe {
    margin: auto;
}





