header{
    grid-area: header;
}
.video{
    grid-area: video;
}
.destinos{
    grid-area: destinos;
}
.articulos{
    grid-area: articulos;
}
.vertodos{
    grid-area: ver todos;
}
footer{
    grid-area: footer;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "contenido"
    "video"
    "destinos"
    "card"
    "vertodos"
    "footer";
    grid-template-rows:1fr  ;

}
