@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif&family=PT+Serif&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
body {
  background-color: #151320;
  display: grid;
  height: 100vh;
  font-family: "Poppins" sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}

.frase {
  border: 0px;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: white;
  font-family: "Play", sans-serif;
}

div,
iframe {
  margin: auto;
}

/*anidaciones*/
nav {
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  width: 40px;
  height: 40px;
}

li a.active,
li a:hover {
  color: #fff;
  background-color: rgb(31, 108, 159);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: pink;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0px;
  }
}
#galeria img {
  width: 100%;
  height: 250px;
}

.col-lg-4,
col-md-6,
cl-sm-12 {
  background-color: #f7f7f7;
  background-image: url(../img/maderaclara.png);
  border: 2px solid rgb(255, 255, 255);
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img:hover {
  transition: 0.1s;
  border: 5px solid #f7f7f7;
}

.vertodos {
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.flex-conteiner2 {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}

.anuncio1 {
  width: 600px;
  height: 200px;
}

.anuncio2 {
  width: 600px;
  height: 200px;
}

.anuncio3 {
  width: 600px;
  height: 200px;
}

.btn--instagram {
  background-color: rgb(141, 24, 141);
}

.btn--facebook {
  background-color: #3a5795;
}

.estilo, .btn--instagram, .btn--facebook {
  padding: 10px;
}

.anuncio {
  height: 200px;
  width: 400px;
}

.form {
  background-color: cadetblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151320;
  height: 100vh;
  display: grid;
  font-family: "Poppins" sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.3;
}

.card1 > .container:after {
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2 > .container:after {
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}

.card3 > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.details {
  padding: 20px 10px;
}

.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.details > p {
  color: #a0a0a0;
  font-size: 15px;
  font-weight: 400;
}/*# sourceMappingURL=estilos.css.map */