@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif&family=PT+Serif&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: white;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo img {
    height: 50px;

}

header {
    display: grid;
    justify-content:center ;
    min-height: 40px;
    padding: 20px;
    background-image: linear-gradient(black, rgb(29, 28, 28));
    position: sticky;
    top: 0px;
}

nav a:hover {
    color: rgb(206, 41, 41);
}

@media (max-width:320px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    text-align: center;
}

nav ul li {
    margin: 7px;
    display: inline-block;
    
}

h1 {
    font-size: 50px;
    padding: 5px;
    margin-top: 4px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left:500px ;
    margin-right: 500px;
    font-family: 'Bebas Neue', cursive;
 }

h2 {
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}

div,
iframe {
    padding: 0 auto;
    margin: 0 auto;
}

@media (max-width:320px) {

    div,
    iframe {
        width: 200px;
        height: 100px;
    }

    header {
        flex-direction: column;
    }
}

@media (max-width:597px) {

    div,
    iframe {
        width: 300px;
        height: 200px;
    }
}

.frase {
    border: 0px;
    padding: 20px;
    margin-top: -30px;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'PT Serif', serif;
}

.imagen-anuncio {
    display: grid;
    justify-content: center;
    height: 100px;
    width: 200px;
    margin: 0 auto;
}

@media (max-width:500px){
    .imagen-anuncio{
        height: 100%;
        width: 100%;
    }
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 0px;
    text-align: center;
}

.flex-conteiner {
    background-image: url(../img/madera.jpg);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    
    
}

.card{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.precio {
    color: rgb(72, 72, 184);
    text-decoration: underline;
}

.vertodos {
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;

}





footer {
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 150px;
    text-align: center;
}

.flex-conteiner2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
}
.video{
    grid-area: video;
}
.destinos{
    grid-area: destinos;
}
.articulos{
    grid-area: articulos;
}
.vertodos{
    grid-area: ver todos;
}
footer{
    grid-area: footer;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "contenido"
    "video"
    "destinos"
    "card"
    "vertodos"
    "footer";
    grid-template-rows:1fr  ;

}

.card-img-top{
    width: 410px;
    height: 300px;
    
}

h5{
    text-align: center;
}

p{
    text-align: center;
}

.card-img-top2{
    height: 300px;
    width: 660px;
}